gina
*.swp
.deps
.libs
.dirstamp
Makefile
Makefile.in
config.sub
config.log
config.status
config.h
config.h.in
config.guess
stamp-h1
ltmain.sh
missing
libtool
install-sh
depcomp
configure
compile
autom4te.cache
aclocal.m4
